<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psi.androidhttpclient">

  <uses-permission android:name="android.permission.INTERNET" />
  <!-- normal permission -->
  <uses-permission android:name="android.permission.FLASHLIGHT" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <!-- danger permission -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <application
      android:name="android.support.multidex.MultiDexApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="N4iBNcnxiO001BKHvuwOOqGEtr4uEswy" />
    <activity
        android:name=".ui.Main1Activity"
        android:theme="@style/AppTheme1">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.Main2Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.Main3Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.Main5Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.ScanActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.TestScanActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.TestGeneratectivity"
        android:theme="@style/AppTheme1" />
    <activity android:name=".ui.BaiduMapActivity" />
    <activity android:name=".ui.WelcomeActivity" />
    <activity android:name=".ui.materialSearchView" />
    <activity
        android:name=".ui.SelectedTableModifyBillActivity"
        android:theme="@style/AppTheme1" />
    <activity android:name=".ui.Main6Activity" />
    <activity
        android:name=".ui.Main4Activity"
        android:theme="@style/AppTheme1" />
    <activity android:name=".ui.MainActivity" />
    <activity
        android:name=".ui.Main7Activity"
        android:theme="@style/AppTheme1" />
    <activity android:name=".ui.Main8Activity" />
    <activity
        android:name=".defineBehaviorFAB.Main9Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".defineBehaviorFAB.BackTopActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".defineBehaviorFAB.BottomSheetBehaviorActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".defineBehaviorFAB.SwipeDismissBehaviorActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".defineBehaviorFAB.ZhihuActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ItemTouchHelper.Main10Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".myCoordinateLayout.Main11Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.Main12Activity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".customBehavior.Main13Activity"
        android:theme="@style/AppTheme1" /> <activity
        android:name="com.psi.androidhttpclient.customBehavior.EasyBehaviorActivity"
        android:theme="@style/AppTheme1" />
    <activity
        android:name=".ui.Main14Activity"
        android:label="@string/title_activity_main14"
        android:theme="@style/AppTheme.NoActionBar"/>
  </application>

</manifest>